body#page-recipe {
    .recipe-image {
        border: solid 3px #ffffff;
        height: 150px;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        a {
            display: block;
            height: 150px;
        }

    }

    .bottom-paragraph {
        padding: 10px;
        border-bottom: solid 2px #66d891;
    }

    .recipe-features {
        list-style: none;
        padding: 0;
        color: #ffffff;
        border-bottom: solid 2px #66d891;

        li {
            margin-bottom: 10px;

            i {
                text-align: center;
                width: 27px;
            }
        }
    }
}