header {
    nav {
        background-color: $secondary-color;

        a,
        a:hover,
        a:active {
            text-transform: uppercase;
            font-weight: 500;
            color: #393e4f;
        }

        .navbar-brand {
            font-family: 'Bangers', cursive;
        }
        
        ul li a i {
            margin-right: 2px;
        }
    }
}